
html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
#header {height: 9%; width: 100%; margin: 0; padding: 0; }
#map { height: 91%; width: 100%; }

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#Origin{
    margin: 5px; width: 150px;
}
