
body {  font-family: "Lato", sans-serif; }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6c5b7b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{ color: #f1f1f1;}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#map {  transition: margin-left .5s;  padding: 16px; }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#openButton a {
    position: absolute;
    top: 100px;
    left: -20px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 15px 15px 0;
    border-color: #2c2c2c;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 5px grey;
}
#openButton a:hover { left: 0;}
#open_button {  top: 20px;  background-color: #39a0b6; }

#float_panel {
    height: 500px;
    width: 300px;
    position: absolute;
    z-index: 12;
    top: 200px;
    right: 50px;
    background: transparent;
    background-color: #6c5b7b;
    opacity: 0.9;
    padding-top: 40px;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #2c2c2c;
    box-shadow: 5px 5px 5px grey;
}

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 35px;
    overflow: hidden;
    width: 240px;
    background-color: #f6f6f6;
    border: solid;
    border-color: #0391ff;
    border-width: 1px;
    box-shadow: 5px 5px 5px grey;
}

.styled-select select {
    background: transparent;
    border: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    box-shadow: 1px 1px 11px #f6f6f6;
    height: 35px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 253px;
    border-radius: 20px;
}

/* -------------------- Rounded Corners */
.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* -------------------- Style for link */
a:link, a:visited {
    color: #c0c0c1;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}

/* -------------------- Style for description */
.font_styles {
    margin: 20px;
    color:#c0c0c1;
    text-shadow:#cccccc;
    text-align: justify;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}


/* -------------------- Style for trip route */
.trip_route{
    margin: 20px;
    color: #dfdfe0;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.trip_route_title{
    margin: 15px;
    color: #dfdfe0;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
}


/* -------------------- Style for legend */
.legend{
    color: #dfdfe0;
    text-shadow: #cccccc;
    text-align: center;
    font-family: Brush Script MT, cursive;
    font-size: 50px;
}



























